streamlit
langchain
langchain-community
langchain-openai
langchain-text-splitters
openai
chromadb
pypdf
pandas
sqlalchemy
tiktoken
sentence-transformers
faiss-cpu
python-dotenv
tabulate
langchain-experimental
